<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div tiles:fragment="content">
        <form name="f" th:action="@{/add}" method="post">               
            <fieldset>
                <legend>Add New Employee</legend>
                 
                <label for="employeeName">Name     </label>
                <input type="text" id="employeeName" name="employeeName"/><br> <br>      
                <label for="employeeDepartment">Department</label>
                <input type="text" id="employeeDepartment" name="employeeDepartment"/><br><br>
                 <label for="employeeDesignation">Designation</label>
                <input type="text" id="employeeDesignation" name="employeeDesignation"/><br>  <br>
                <label for="employeeSalary">Salary    </label>
                <input type="number" id="employeeSalary" name="employeeSalary"/><br><br>
                  
                <div class="form-actions">
                    <button type="submit" class="btn">Add</button>
                </div>
            </fieldset>
        </form>
    </div>
  </body>
</html>