<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Login page</h1>
    
    <form th:action="@{/login}" method="post">
      <fieldset>
       <div th:if="${param.error}" class="alert alert-danger">    
           Invalid username and password.
       </div>
       <div th:if="${param.logout}" class="alert alert-success"> 
           You have been logged out.
       </div>
      <label for="username">Username</label>:
      <input type="text" id="username" name="username" autofocus="autofocus" /> <br/>
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" /><br/>
      <label for="remember-me">Remember Me</label>:
      <input type="checkbox" name="remember-me" /><br/>
      <input type="submit" value="Log in" />
      </fieldset>
    </form>
  </body>
</html>